* {
  margin: 0;
  padding: 0;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
$Mono: 'DM Mono', monospace;
$Audio: 'Audiowide', cursive;
$Inter: 'Inter', sans-serif;
main {
  background-color: #000000;
}
.meta_label {
  .col-md-5 {
    margin: auto;
    padding-left: 77px;
    h1 {
      font-family: $Audio;
      font-style: normal;
      font-weight: 400;
      font-size: 51px;
      line-height: 61px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 43px;
    }
    p {
      font-family: $Inter;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      margin-bottom: 115px;
    }
    a {
      font-family: $Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      text-transform: capitalize;
      color: #000000;
      padding: 17px 40px 27px;
      background: #8DFD1B;
      display: inline-block;
      cursor: pointer;
    }
  }
  img {
    width: 100%;
  }
}
.wave_nft {
  padding: 120px 0;
 h3 {
   font-family: $Audio;
   font-style: normal;
   font-weight: 400;
   font-size: 38px;
   line-height: 45px;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-left: 66px;
   margin-bottom: 41px;
 }
  img {
    width: 100%;
    display: block;
  }
  h5 {
    font-family: $Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #8DFD1B;
    margin-left: 22px;
    margin-bottom: 27px;
    &:after {
      content: "";
      width: 2px;
      height: 124px;
      background-color: #8DFD1B;
      position: absolute;
      top: 0;
      left: 15px;
      display: inline-block;
    }
  }
  p {
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 36px;
  }
  a {
    padding: 10px 33px 16px;
    border: 1px solid #8DFD1B;
    font-family: $Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
  }
}
.team_cards {
  .meta_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    text-align: center;
    margin-bottom: 17px;
    h5 {
      font-family: $Mono;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 19px 0 18px;
    }
    p {
      &:first-of-type {
        font-family: $Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #8DFD1B;
      }
      &:last-of-type {
        font-family: $Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #FFFFFF;
      }
    }

    a {
      img {
        padding: 8px;
        background-color: #FFFFFF;
        margin: 0 4px 22px;
        transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
        &:hover {
          border-radius: 50%;
        }
      }

    }
  }
}
.mrl_story {
  .container{
    width: 100%;
    overflow:hidden;
    margin-top: 20px;
    max-height: 538px;
  }
  .tab-cont{
    float: left;
    background-color: #000000;
  }
  .tab-cont button{
    background-color: inherit;
    font-family: $Mono;
    padding: 25px 134px 31px 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .tab-cont button:hover{
    background-color: #ccc;
  }
  .tab-content{
    background-color: #222222;
    height: 100%;
    float: left;
    width: 70%;
    animation: anime 1s

  }

  .tab-content h4{
    font-family: $Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #8DFD1B;

  }
  .tab-content p{
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .tab-cont .but.active{
    background-color: #222222;
    color: #8DFD1B;
  }
  @keyframes anime {
    from{opacity: 0}
    to{opacity: 1}
  }
}




